// COLORS
$primary-color: #11998e;
$secondary-color: #38ef7d;

$white-color: #313131;

$dark-grey: #313131;

$dark-blue-text: #fff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
