* { font-family: 'Arial' }

.centered { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

img {
    border-radius: 50%;
    width: 50%;
}

a {
    color: #EDD9F9;
}

p {
    font-size: large;
}

body {
    animation-name: backgroundColorPalette;
    animation-duration: 5.0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes backgroundColorPalette {
    0% {
        background: #A18DB5;
    }
    100% {
        background: #898495;
    }
}